/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {  

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]
    withName: FASTP {
        ext.args = '--low_complexity_filter'
    }
    withName: BOWTIE2HOST {
        ext.args = '-k 1' 
        publishDir = [
            [
                path: { "${params.outdir}/bowtie2/hs1" },
                mode: "symlink",
                pattern: '*.bam',
            ],
            [
                path: { "${params.outdir}/bowtie2/hs1" },
                mode: params.publish_dir_mode,
                pattern: '*.log',
            ],
            [
                path: { "${params.outdir}/bowtie2/hs1" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ]
        ]
    }
    withName: BOWTIE2DB {
        ext.args = '-k 1' 
        publishDir = [
            [
                path: { 
                    def ref_file = new File(params.reference_fasta)
                    def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                    "${params.outdir}/bowtie2/${ref_name}" },
                mode: params.publish_dir_mode,
                pattern: '*.log',
            ],
            [
                path: { 
                    def ref_file = new File(params.reference_fasta)
                    def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                    "${params.outdir}/bowtie2/${ref_name}" },
                mode: "symlink",
                pattern: "*.sam",
            ]
        ]
    }
    withName: FILTER_SAM2BAM {
        publishDir = [
            path: { 
                def ref_file = new File(params.reference_fasta)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                "${params.outdir}/bowtie2/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: MAP_DEPTH {
        publishDir = [
            path: { 
                def ref_file = new File(params.reference_fasta)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                "${params.outdir}/bowtie2/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: MAP_SUMMARY {
        publishDir = [
            path: { 
                def ref_file = new File(params.reference_fasta)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                "${params.outdir}/bowtie2/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MAP_SUMMARY_STATS {
        publishDir = [
            path: { 
                def ref_file = new File(params.reference_fasta)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                "${params.outdir}/bowtie2/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PLOTS_MAPPING {
        publishDir = [
            path: { 
                def ref_file = new File(params.reference_fasta)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta|mmi)(\.gz)?$/, '')
                "${params.outdir}/plots_and_tables/bowtie2/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: { 
                def ref_file = new File(params.kraken2_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/kraken2/${ref_name}/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKEN2_COMBINE_REPORTS {
        publishDir = [
            path: { 
                def ref_file = new File(params.kraken2_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/plots_and_tables/kraken2/${ref_name}/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PLOTS_KRAKEN2 {
        publishDir = [
            path: { 
                def ref_file = new File(params.kraken2_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/plots_and_tables/kraken2/${ref_name}/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    
    withName: KRAKENUNIQ_PRELOADEDKRAKENUNIQ {
        publishDir = [
            path: { 
                def ref_file = new File(params.krakenuniq_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/krakenuniq/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKENUNIQ_COMBINE_REPORTS {
        publishDir = [
            path: { 
                def ref_file = new File(params.krakenuniq_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/plots_and_tables/krakenuniq/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PLOTS_KRAKENUNIQ {
        publishDir = [
            path: { 
                def ref_file = new File(params.krakenuniq_db)
                def ref_name = ref_file.getName().replaceAll(/\.(fna|fa|fasta)(\.gz)?$/, '')
                "${params.outdir}/plots_and_tables/krakenuniq/${ref_name}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FINAL_STAT_REPORT {
        publishDir = [
            path: { 
                "${params.outdir}/plots_and_tables/" },
            mode: params.publish_dir_mode,
        ]
    }
}
// * '-B12 -O18,36 -E4,2 -A1 -s 80 --secondary=no --score-N 0'
