/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]
    withName: MINIMAP2_ALIGN {
        ext.args = '' 

    }
    withName: KRAKEN2BACTERIA {
        publishDir = [
            path: { "${params.outdir}/kraken/pandb/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKEN2FPV {
        publishDir = [
            path: { "${params.outdir}/kraken/fpv/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKEN2FPV_COMBINE_REPORTS {
        publishDir = [
            path: { "${params.outdir}/kraken/fpv/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKEN2BACTERIA_COMBINE_REPORTS {
        publishDir = [
            path: { "${params.outdir}/kraken/pandb/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PLOTS_KRAKEN2_FPV {
        publishDir = [
            path: { "${params.outdir}/kraken/pandb/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PLOTS_KRAKEN2_BACTERIA {
        publishDir = [
            path: { "${params.outdir}/kraken/pandb/conf${params.kraken2_confidence}" },
            mode: params.publish_dir_mode,
        ]
    }
}
// * '-B12 -O18,36 -E4,2 -A1 -s 80 --secondary=no --score-N 0'
